<div class="banner">
  <div class="container">
    <h2><%= link_to "Bookmarks", profile_bookmarks_path, style: "text-decoration: none; color: orange;" %></h2>
    <h2><%= link_to "My Pantry", profile_ingredients_path, style: "text-decoration: none;"%></h2>
    <h2><%= link_to "Friends", profile_friends_path, style: "text-decoration: none;"%></h2>
  </div>
</div>

<div class="container">
<div class="cards">
  <% if @user_bookmarks.empty? %>
    <h3>No bookmarks yet...</h3>
  <% else %>
    <% @user_bookmarks.each do |bookmark| %>



<div class="card-trip" data-cards-target="card" data-average-rating=<%= bookmark.recipe.average_rating || 0 %>>
                    <div class="container">
                    <i class="fa-solid fa-bookmark me-1"></i>
                    </div>
          <%= image_tag bookmark.recipe.image_url, alt: "Image of recipe" %>
          <div class="card-trip-infos" >
            <p><%= link_to bookmark.recipe.title, recipe_path(bookmark.recipe) %></p>
          </div>
          <div class="text-bottom">
            <div class="text-bottom-left">
              <% if bookmark.recipe.reviews.empty? %>
                <p>No reviews</p>
              <% else %>
                <p><%= bookmark.recipe.average_rating.round(1) %> ⭐️</p>
              <% end %>
            </div>
            <div class="text-bottom-right">
              <p><i class="fa-solid fa-clock"></i> <%= minutes_to_hour(bookmark.recipe.total_time) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
</div>



        <%# <%= link_to recipe.title, recipe_path(bookmark), style: "text-decoration: none;" %> %>
      <%# </li>
    <% end %>
  </ul>
  <%# <% end %>
</div> %> %>
