<%= form_with(model: [recipe, review]) do |f| %>
  <div class="star-rating-container">
  <%= f.label :rating, "Rating" %>
  <%= f.select :rating, options_for_select((1..5).to_a), {}, { data: { controller: "star-rating", star_rating_target: "select" } } %>
      <span class="star-rating-placeholder"></span>
  </div>
  <%= f.label :content, "Comment" %>
  <%= f.text_field :content %>
  <%= f.submit "Submit" %>
<% end %>
