<h1>Recipes#index</h1>

<% @recipes.each do |recipe| %>
<div class="container">

  <p><%= image_tag(recipe.image_url) %></p>
  <h3><%= link_to recipe.title, recipe_path(recipe.id) %></h3>
  <% ratings = recipe.reviews.map { |review| review.rating } %>
    <% if ratings.empty? %>
      <p>No reviews yet.</p>
    <% else %>
      <span><%= (ratings.sum.to_f / ratings.length).round(1) %> â­</span>
    <% end %>
  <span>Prep time: <%= recipe.total_time %> mins</span>
  <span>serves <%= recipe.serving_size %></span>
  <br>
  --------------------------------------------------------
</div>
<% end %>
