<div class="container">
    <%= form_with url: recipes_path, method: :get do |f| %>
      <div class="form">
      <br>
      <%= f.text_field :query, placeholder: "Search by ingredient(s), e.g. lemon chicken", class: "w-50" %> <span><%= f.label :order, "Sort by ratings" %>
      <%= f.select :order, ["High to Low"], :include_blank => true %><br></span>
      <br>
      <br>
      <h4>Filter recipes by dietary requirements</h4>
      <%= f.check_box :vegetarian, include_hidden: false %>
      <%= f.label :vegetarian, "Vegetarian" %>
      <%= f.check_box :vegan, include_hidden: false %>
      <%= f.label :vegan, "Vegan" %>
      <%= f.check_box :dairy_free, include_hidden: false %>
      <%= f.label :dairy_free, "Dairy free" %>
      <%= f.check_box :gluten_free, include_hidden: false %>
      <%= f.label :gluten_free, "Gluten free" %>
      <br>
      <br>
      <h4> Add your ingredients from the kitchen?</h4>
      <% if current_user != nil %>
        <% if current_user.ingredients.present? %>
          <%= f.collection_check_boxes :ingredient_id, current_user.ingredients.order(:name), :id, :name, include_hidden: false %>
        <% end %>
      <% end %>
      <%= f.submit "Search" %>
    <% end %>
    </div>
    <div class="headers-center">
    <h2 class="form my-3">Recipes</h2>
    </div>
    <div class="cards">
      <% sort_recipes_by_rating(@recipes, @low_to_high).each do |recipe| %>
      <div class="card-trip">
        <div>
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag recipe.image_url, alt: "Image of recipe" %>
          <% end %>
        </div>
          <div class="card-trip-infos">
            <p><%= link_to recipe.title, recipe %></h3></p>
          </div>
          <div class="text-bottom">
            <div class="text-bottom-left">
              <% if recipe.reviews.empty? %>
                <p>| No reviews</p>
              <% else %>
                <% total_rating = 0 %>
                <% recipe.reviews.each do |review| %>
                  <% total_rating += review.rating %>
                  <% end %>
               <% average_rating = total_rating / recipe.reviews.count %>
                <p>  <%= average_rating.to_f %> ⭐️</p>
              <% end %>
            </div>
            <div class="text-bottom-right">
              <p>| Ready in <%= recipe.total_time %>m |</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
