<div class="container">
  <h3 class="form my-3">Search by keyword, select a diet, or choose items from your kitchen below</h3>
  <br>
  <br>
    <%= form_with url: recipes_path, method: :get do |f| %>
      <div class="form">
      <%= f.text_field :query, placeholder: "Search by ingredient/recipe/key word, eg: lemon chicken", class: "w-50" %> <span><%= f.label :order, "Sort by ratings" %>
      <%= f.select :order, ["High to Low"], :include_blank => true %><br></span>
      <br>
      <br>
      <h3>Filter recipes by dietary requirements</h3>
      <%= f.check_box :vegetarian, include_hidden: false %>
      <%= f.label :vegetarian, "Vegetarian |" %>
      <%= f.check_box :vegan, include_hidden: false %>
      <%= f.label :vegan, "Vegan |" %>
      <%= f.check_box :dairy_free, include_hidden: false %>
      <%= f.label :dairy_free, "Dairy free |" %>
      <%= f.check_box :gluten_free, include_hidden: false %>
      <%= f.label :gluten_free, "Gluten free |" %>
      <br>
      <br>
      </div><% if current_user != nil %>
        <% if current_user.ingredients.present? %>
          <div class="accordion w-50 my-3" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button form" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Add ingredients from your kitchen?
                </button>
              </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body checkboxes">
                    <%= f.collection_check_boxes :ingredient_id, current_user.ingredients.order(:name), :id, :name, include_hidden: false %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
      <%= f.submit "Search" %>
    <% end %>
    <div class="headers-center">
    <h2 class="form my-3">Recipes</h2>
    </div>
    <div class="cards">
      <% sort_recipes_by_rating(@recipes, @low_to_high).each do |recipe| %>
      <div class="card-trip">
        <div>
            <%= image_tag recipe.image_url, alt: "Image of recipe" %>
        </div>
          <div class="card-trip-infos">
            <p><%= link_to recipe.title, recipe %></h3></p>
          </div>
          <div class="text-bottom">
            <div class="text-bottom-left">
              <% if recipe.reviews.empty? %>
                <p>| No reviews</p>
              <% else %>
                <% total_rating = 0 %>
                <% recipe.reviews.each do |review| %>
                  <% total_rating += review.rating %>
                  <% end %>
               <% (average_rating = total_rating / recipe.reviews.count).to_f %>
                <p>  <%= average_rating %> ⭐️</p>
              <% end %>
            </div>
            <div class="text-bottom-right">
              <p>| Ready in <%= recipe.total_time %>m |</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
