<div class="container">
  <h2 class="my-3">Search with your ingredients</h2>
    <%= form_with url: recipes_path, method: :get do |f| %>
      <div class="form-group">
        <%= f.text_field :query, class: "form-control" %>
        <%= f.check_box :vegetarian, include_hidden: false %>
        <%= f.label :vegetarian, "Vegetarian" %>
        <%= f.check_box :vegan, include_hidden: false %>
        <%= f.label :vegan, "Vegan" %>
        <%= f.check_box :dairy_free, include_hidden: false %>
        <%= f.label :dairy_free, "Dairy free" %>
        <%= f.check_box :gluten_free, include_hidden: false %>
        <%= f.label :gluten_free, "Gluten free" %> <br>
        <%= f.collection_check_boxes :ingredient_id, current_user.ingredients.order(:name), :id, :name, include_hidden: false %>
      </div>
      <a href="#">Add ingredients from your fridge?</a><br>
      <button type="submit" class="btn btn-primary my-2">Search</button>
    <% end %>
    <h2 class="my-3">Hot new recipes</h2>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.title, recipe %>
        </li>
      <% end %>
    </ul>
</div>
