<div class="container">
<br>
  <h1>What can I eat!?</h1>
<br>
    <%= form_with url: recipes_path, method: :get do |f| %>
      <div class="form-group">
        <%= f.label :query, "What's in your fridge?" %>
        <%= f.text_field :query, class: "form-control" %>
        <%= f.label :vegetarian, "Vegetarian" %>
        <%= f.check_box :vegetarian, include_hidden: false %>
        <%= f.label :vegan, "Vegan" %>
        <%= f.check_box :vegan, include_hidden: false %>
        <%= f.label :dairy_free, "Dairy free" %>
        <%= f.check_box :dairy_free, include_hidden: false %>
        <%= f.label :gluten_free, "Gluten free" %>
        <%= f.check_box :gluten_free, include_hidden: false %>
      </div>
      <button type="submit" class="btn btn-primary mt-4 mb-4">Search</button>
    <% end %>

    <h2>Try these recipes with your ingredients</h2>
    <br>

      <div class="cards">

      <% @recipes.each do |recipe| %>

      <div class="card-trip">
        <div>
            <%= image_tag recipe.image_url, alt: "Image of recipe" %>
        </div>
            <div class="card-trip-infos">
            <p><%= link_to recipe.title, recipe %></h3></p>
            </div>
            <div class="text-bottom">
            <%   unless recipe.reviews.empty? %>
            <% total_rating = 0 %>
            <% average_rating = recipe.reviews.each do |review| %>
            <% total_rating += review.rating %>
            <% end %>
           <% average_rating = total_rating / recipe.reviews.count %>
            <p><%= average_rating %> stars</p>
            <% end %>
           <p>ready in <%= recipe.total_time %>m</p>
            <p>servings: <%= recipe.serving_size %></p>
            </div>
<div>


      </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
