<div class="container my-3">
  <%= form_for([@recipe, @bookmark], url: recipe_bookmarks_path(@recipe)) do |f| %>
    <%= f.submit "Create bookmark" %>
  <% end %>

  <% @current_user_bookmarks.each do |bookmark| %>
    <% if bookmark.recipe_id == @recipe.id %>
        <%= link_to "Remove bookmark",
        bookmark_path(bookmark.id),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      <% end %>
    <% end %>


  <h2><%= @recipe.title %></h2>
  <%= image_tag @recipe.image_url, alt: "Image of recipe" %>
  <p><%= "Vegetarian" if @recipe.vegetarian? %>
    <%= "Vegan" if @recipe.vegan? %>
    <%= "Gluten-free" if @recipe.gluten_free? %>
    <%= "Dairy-free" if @recipe.dairy_free? %>
  </p>
  <p><i class="fa-solid fa-users me-3"></i><%= @recipe.serving_size %></p>
  <p><i class="fa-solid fa-clock me-3"></i><%= @recipe.total_time %>m</p>

  <h3>Ingredients</h3>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <% recipe_ingredient = RecipeIngredient.find_by(recipe: @recipe, ingredient: ingredient) %>
      <li>
        <strong><%= truncate_zero(recipe_ingredient.quantity) %>
        <%= ingredient.quantity_unit %></strong>
        <%= ingredient.name %>
      </li>
    <% end %>
  </ul>

  <h3>Method</h3>
  <p><%= @recipe.instructions %></p>

  <h3>Leave a comment:</h3>
  <%= form_with(model: [@recipe, @review]) do |f| %>
    <%= f.label :rating, "Rating out of 5" %>
    <%= f.text_field :rating %>
    <%= f.label :content, "Comment" %>
    <%= f.text_field :content %>
  <%= f.submit "Add comment" %>
  <% end %>
  <br>
  <% if @recipe.reviews.empty? %>
    <p><%= "There are no currently no comments.. Leave one now!" %></p>
  <% else %>
    <% @recipe.reviews.each do |review| %>
      <p><%= review.rating if review.rating.present? %>/5 ⭐ --<small><%= review.user.username %></small></p>
      <p><%= review.content if review.content.present? %></p>
      <% if review.user == current_user %>
        <%= link_to "Delete comment", review_path(review), data: { turbo_method: :delete,
        turbo_confirm: "Are you sure you want to delete your comment?" } %>
      <% end %>
      <hr>
    <% end %>
  <% end %>
</div>
