<div class="card-recipe" data-cards-target="card" data-average-rating="<%= recipe.average_rating || 0 %>">
  <div class="img-wrap">
    <% if recipe.bookmarks.where(user_id: current_user).any? %>
      <i class="fa-solid fa-bookmark bookmark-visible"></i>
    <% end %>
    <%= image_tag recipe.image_url, alt: "Image of recipe", class: "card-image" %>
  </div>
  <div class="card-recipe-infos" >
    <p><%= link_to recipe.title, recipe %></h3></p>
  </div>
  <div class="text-bottom">
    <div class="text-bottom-left">
      <% if recipe.reviews.empty? %>
        <p>No reviews</p>
      <% else %>
        <p><%= recipe.average_rating.round(1) %> ⭐️</p>
      <% end %>
    </div>

    <div class="text-bottom-right">
      <p><i class="fa-solid fa-clock"></i> <%= minutes_to_hour(recipe.total_time) %></p>
    </div>

  </div>
</div>
