<div class="profile-container">
  <div class="banner">
      <h2><%= link_to "Bookmarks", profile_bookmarks_path %></h2>
      <h2><%= link_to "My Pantry", profile_ingredients_path %></h2>
      <h2><%= link_to "Friends", profile_friends_path, id: "header-pink" %></h2>
  </div>

  <% if current_user.friends.count > 1 %>
    <h3>Friends</h3>
  <% end %>
  <% if current_user.friends.count < 0 %>
    <p>No friends</p>
  <% else %>
    <% current_user.friends.each do |friend| %>
      <p><%= friend.first_name %> <%= friend.last_name if friend.last_name.present? %> (<%= friend.username %>)</p>
    <% end %>
  <% end %>

  <% if current_user.pending_friends.count > 0 %>
    <h3>Friend requests</h3>
  <% end %>
  <% @pending_friends.each do |person| %>
    <p><%= person.first_name %> <%= person.last_name if person.last_name.present? %> (<%= person.username %>)</p>
  <% end %>
  <% @friendships.flatten.each do |person| %>
    <%= form_with model: person, method: :patch do |f| %>
      <%= f.radio_button :answer, "Accept", class: "friends-radio-button" %>
      <%= f.label :accept, "Accept", class: "friends-label" %>
      <%= f.radio_button :answer, "Reject", class: "friends-radio-button" %>
      <%= f.label :reject, "Reject", class: "friends-label" %>
      <%= f.submit "Confirm" %>
    <% end %>
    <hr>
  <% end %>
</div>
