<div class="banner">
  <div class="container">
    <h2><%= link_to "Bookmarks", profile_bookmarks_path, style: "text-decoration: none;" %></h2>
    <h2><%= link_to "My Pantry", profile_ingredients_path, style: "text-decoration: none;" %></h2>
    <h2><%= link_to "Friends", profile_friends_path, style: "text-decoration: none; color: orange;" %></h2>
  </div>
</div>

<div class="container">
  <h3>Friends</h3>
  <% if current_user.friends.count < 0 %>
    <p>No friends</p>
  <% else %>
    <% current_user.friends.each do |friend| %>
      <p><%= friend.first_name %> <%= friend.last_name if friend.last_name.present? %> (<%= friend.username %>)</p>
    <% end %>
  <% end %>

  <h3>Friend requests</h3>
  <% @pending_friends.each do |person| %>
    <p><%= person.first_name %> <%= person.last_name if person.last_name.present? %> (<%= person.username %>)</p>
  <% end %>
  <% @friendships.flatten.each do |person| %>
    <%= form_with model: person, method: :patch do |f| %>
      <%= f.radio_button :answer, "Accept", class: "friends-radio-button" %>
      <%= f.label :accept, "Accept", class: "friends-label" %>
      <%= f.radio_button :answer, "Reject", class: "friends-radio-button" %>
      <%= f.label :reject, "Reject", class: "friends-label" %>
      <%= f.submit "Confirm" %>
    <% end %>
    <hr>
  <% end %>
</div>
