<div class="banner">
  <div class="container">
    <h2><%= link_to "Bookmarks", profile_bookmarks_path, style: "text-decoration: none;" %></h2>
    <h2><%= link_to "My Pantry", profile_ingredients_path, style: "text-decoration: none;" %></h2>
    <h2><%= link_to "Friends", profile_friends_path, style: "text-decoration: none; color: orange;" %></h2>
  </div>
</div>
<div class="container">
  <% @friends.each do |friend| %>
    <p><%= friend.first_name %> <%= friend.last_name %></p>
  <% end %>
</div>
