<div class="container">
  <h2>Your bookmarks</h2>
  <% if @current_user_bookmarks.empty? %>
    <h3>No bookmarks</h3>
  <% else %>
  <ul>
    <% @current_user_bookmarks.each do |bookmark| %>
      <li>
        <%= bookmark.recipe.title %> <%= link_to "Unsave bookmark", bookmark_path(bookmark),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this bookmark?" } %>
      </li>
    <% end %>
  </ul>
  <% end %>

  <h2>Ingredients</h2>
  <%= form_with(model: @user_ingredient) do |f| %>
    <%= f.label :ingredient_id, "ADD INGREDIENT " %>
    <%= f.collection_select :ingredient_id, Ingredient.order(:name), :id, :name %>
    <%= f.number_field :quantity %>
    <%= f.submit "Submit" %>
  <% end %>
  <% if @user_ingredients.empty? %>
    <p>No ingredients yet..</p>
  <% else %>
  <ul>
    <% @user_ingredients.each do |ingredient| %>
    <% db_ingredient = Ingredient.find(ingredient.ingredient_id) %>
      <li>
        <%= db_ingredient.name %>
        <%= truncate_zero(ingredient.quantity) if ingredient.quantity.present? %>
        <%= db_ingredient.quantity_unit if ingredient.quantity.present? %>
        <%= link_to "Delete ingredient", user_ingredient_path(ingredient), data: { turbo_method: :delete,
        turbo_confirm: "Are you sure you want to delete your ingredient?" } %>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>
